*{
            padding: 0;
            margin: 0;
            transform: .3s;
        }

        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image:url(登入畫面圖.png);
            background-size: cover;
        }

        h2{
            font-size: 30px;
            color: rgb(255, 255, 255);
            margin: 15px 0;
        }

        .shell{
            width: 400px;
            padding: 40px;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #4848b249;
            border-radius: 50px;
            box-shadow: 0 0 70px rgba(111, 35, 211, 0.889) inset;
        }
        /* 輸入框的基本樣式 */
        input[type="text"],
        input[type="password"]{
            background: rgba(172, 151, 220, 0);
            border:3px solid #574386;
            width: 100%; /* 確保輸入框填滿容器 */
            padding: 10px;
            margin: 10px 0;
            font-size: 18px;
            color: white; /* 讓輸入的文字為白色 */
            box-sizing: border-box; /* 確保 padding 不會增加寬度 */
            border-radius: 5px;
        }
            /* 輸入框懸停效果 */
        input[type="text"]:hover,
        input[type="password"]:hover {
            border-color: #7957d5;
        }



        /* 送出 */
        input[type="submit"]{
            width: 100%;
            height: 50px;
            padding: 10px;
            margin: 50px 0;
            border: none;
            background-color: rgba(47, 38, 63, 0.5);
            color:#ffffff;
            cursor:pointer;
            font-size: 20px;
            letter-spacing:4px;
            
        }

            input::placeholder{
                color: rgb(206, 207, 236);
            }

        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 20px;
        }
        /* 記住我 */
        .Remember{
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color:rgb(202, 203, 216);
        }
        
        input[type="checkbox"]{
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-color: rgb(25, 34, 200);
        }
        /* 註冊 */
        #Password{
            border: none;
            background-color: rgba(193, 117, 193, 0.564);
            color: rgb(187, 188, 199);
            font-size:16px;
        }